<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <pages theme="Default">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="asp" assembly="ControlesPersonalizados" namespace="ControlesPersonalizados" />
      </controls>
    </pages>
  </system.web>

  <connectionStrings>
    <!-- GALHER01 -->
    <add name="SisSegDB" connectionString="metadata=res://*/dbSisSeg.csdl|res://*/dbSisSeg.ssdl|res://*/dbSisSeg.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IBONILLA-PC\SERVIDOR;initial catalog=ACCIONA;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!-- GALHER02 
    <add name="SisSegDB" connectionString="metadata=res://*/dbSisSeg.csdl|res://*/dbSisSeg.ssdl|res://*/dbSisSeg.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GALHERSOFT02\SQLSERVERGALHER;initial catalog=ASODENICDB;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <!-- ASODENIC 
    <add name="SisSegDB" connectionString="metadata=res://*/dbSisSeg.csdl|res://*/dbSisSeg.ssdl|res://*/dbSisSeg.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DATASRV;initial catalog=ASODENICDB;persist security info=True;user id=sa;password=Datasrv*2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />

    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>