USE [master]
GO
/****** Object:  Database [ASODENICDB]    Script Date: 16/08/2014 08:49:40 a.m. ******/
CREATE DATABASE [ASODENICDB] ON  PRIMARY 
( NAME = N'ASODENICDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.GALHERSQLSERVER\MSSQL\DATA\ASODENICDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ASODENICDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.GALHERSQLSERVER\MSSQL\DATA\ASODENICDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASODENICDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASODENICDB]
GO
/****** Object:  Schema [Auditoria]    Script Date: 16/08/2014 08:49:41 a.m. ******/
CREATE SCHEMA [Auditoria]
GO
/****** Object:  Schema [Catalogo]    Script Date: 16/08/2014 08:49:41 a.m. ******/
CREATE SCHEMA [Catalogo]
GO
/****** Object:  Schema [seguridad]    Script Date: 16/08/2014 08:49:41 a.m. ******/
CREATE SCHEMA [seguridad]
GO
/****** Object:  Table [Auditoria].[Auditoria]    Script Date: 16/08/2014 08:49:41 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auditoria].[Auditoria](
	[IdAuditoria] [uniqueidentifier] NOT NULL,
	[IdAfectado] [uniqueidentifier] NOT NULL,
	[IdReferencia] [uniqueidentifier] NULL,
	[FechaAfectacion] [datetime] NOT NULL,
	[IdTipo] [int] NOT NULL,
	[IdTabla] [int] NOT NULL,
	[Comentario] [nvarchar](max) NOT NULL,
	[Usuario] [nvarchar](50) NULL,
	[UsuarioPC] [nvarchar](50) NULL,
	[UsuarioIP] [nvarchar](50) NULL,
 CONSTRAINT [PK_Auditoria] PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Catalogo].[Categoria]    Script Date: 16/08/2014 08:49:41 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[Categoria](
	[IdCategoria] [uniqueidentifier] NOT NULL,
	[IdFactor] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Ponderacion] [int] NOT NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Catalogo].[Clasificacion]    Script Date: 16/08/2014 08:49:41 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[Clasificacion](
	[IdClasificacion] [uniqueidentifier] NOT NULL,
	[IdCategoria] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Puntuacion] [int] NOT NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Clasificacion] PRIMARY KEY CLUSTERED 
(
	[IdClasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Catalogo].[Factor]    Script Date: 16/08/2014 08:49:41 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[Factor](
	[IdFactor] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Factor] PRIMARY KEY CLUSTERED 
(
	[IdFactor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Catalogo].[MatrizCalificacion]    Script Date: 16/08/2014 08:49:41 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[MatrizCalificacion](
	[IdMatrizCalificacion] [uniqueidentifier] NOT NULL CONSTRAINT [DF_MatrizCalificacion_IdMatrizCalificacion]  DEFAULT (newid()),
	[Nombre] [nvarchar](100) NOT NULL CONSTRAINT [DF_MatrizCalificacion_Nombre]  DEFAULT (''),
	[ValorMin] [decimal](10, 2) NOT NULL,
	[ValorMax] [decimal](10, 2) NOT NULL,
	[Impacto] [int] NOT NULL,
	[EsActivo] [bit] NOT NULL CONSTRAINT [DF__MatrizCal__EsAct__151B244E]  DEFAULT ((1)),
 CONSTRAINT [PK_MatrizCalificacion] PRIMARY KEY CLUSTERED 
(
	[IdMatrizCalificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Catalogo].[Metodologia]    Script Date: 16/08/2014 08:49:41 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogo].[Metodologia](
	[IdMetodologia] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[TipoMetodologia] [nvarchar](100) NOT NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Metodologia] PRIMARY KEY CLUSTERED 
(
	[IdMetodologia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [seguridad].[Ciudad]    Script Date: 16/08/2014 08:49:41 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seguridad].[Ciudad](
	[IdCiudad] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ciudad_IdCiudad]  DEFAULT (newid()),
	[IdPais] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL CONSTRAINT [DF_Ciudad_Nombre]  DEFAULT (''),
	[EsActivo] [bit] NOT NULL CONSTRAINT [DF_Ciudad_EsActivo]  DEFAULT ((1)),
 CONSTRAINT [PK_Ciudad] PRIMARY KEY CLUSTERED 
(
	[IdCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [seguridad].[ItemMenu]    Script Date: 16/08/2014 08:49:41 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [seguridad].[ItemMenu](
	[IdItemMenu] [uniqueidentifier] NOT NULL CONSTRAINT [DF_ItemMenu_IdItemMenu]  DEFAULT (newid()),
	[IdItemMenuPadre] [uniqueidentifier] NULL,
	[Ruta] [varchar](256) NOT NULL CONSTRAINT [DF_ItemMenu_Ruta]  DEFAULT ('~/'),
	[Texto] [nvarchar](50) NOT NULL CONSTRAINT [DF_ItemMenu_Texto]  DEFAULT (''),
	[Descripcion] [nvarchar](256) NOT NULL CONSTRAINT [DF_ItemMenu_Descripcion]  DEFAULT (''),
	[Visible] [bit] NOT NULL CONSTRAINT [DF_ItemMenu_Visible]  DEFAULT ((0)),
	[FechaRegistro] [datetime] NULL CONSTRAINT [DF_ItemMenu_FechaRegistro]  DEFAULT (getdate()),
	[EsActivo] [bit] NOT NULL CONSTRAINT [DF_ItemMenu_EsActivo]  DEFAULT ((1)),
 CONSTRAINT [PK_ItemMenu] PRIMARY KEY CLUSTERED 
(
	[IdItemMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [seguridad].[ItemRol]    Script Date: 16/08/2014 08:49:41 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seguridad].[ItemRol](
	[IdItemRol] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Table_1_IdItemMenu]  DEFAULT (newid()),
	[IdItemMenu] [uniqueidentifier] NOT NULL,
	[IdRol] [uniqueidentifier] NOT NULL,
	[FechaRegistro] [datetime] NULL CONSTRAINT [DF_ItemRol_FechaRegistro]  DEFAULT (getdate()),
	[EsActivo] [bit] NOT NULL CONSTRAINT [DF_ItemRol_EsActivo]  DEFAULT ((1)),
 CONSTRAINT [PK_ItemRol] PRIMARY KEY CLUSTERED 
(
	[IdItemRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [seguridad].[Pais]    Script Date: 16/08/2014 08:49:41 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seguridad].[Pais](
	[IdPais] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Pais_IdPais]  DEFAULT (newid()),
	[Nombre] [nvarchar](100) NOT NULL,
	[Nacionalidad] [nvarchar](100) NULL CONSTRAINT [DF_Pais_Gentilicio]  DEFAULT (''),
	[EsActivo] [bit] NOT NULL CONSTRAINT [DF_Pais_EsActivo]  DEFAULT ((1)),
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[IdPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [seguridad].[Rol]    Script Date: 16/08/2014 08:49:41 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seguridad].[Rol](
	[IdRol] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Rol_IdRol]  DEFAULT (newid()),
	[Nombre] [nvarchar](100) NOT NULL CONSTRAINT [DF_Rol_Nombre]  DEFAULT (''),
	[FechaRegistro] [datetime] NULL CONSTRAINT [DF_Rol_FechaRegistro]  DEFAULT (getdate()),
	[EsActivo] [bit] NOT NULL CONSTRAINT [DF_Rol_EsActivo]  DEFAULT ((1)),
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [seguridad].[Sucursal]    Script Date: 16/08/2014 08:49:41 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seguridad].[Sucursal](
	[IdSucursal] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Sucursal_IdSucursal]  DEFAULT (newid()),
	[IdCiudad] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL CONSTRAINT [DF_Sucursal_Nombre]  DEFAULT (''),
	[Codigo] [nvarchar](20) NOT NULL CONSTRAINT [DF_Sucursal_Codigo]  DEFAULT (''),
	[Direccion] [nvarchar](150) NOT NULL CONSTRAINT [DF_Sucursal_Direccion]  DEFAULT (''),
	[EsActivo] [bit] NOT NULL CONSTRAINT [DF_Sucursal_EsActivo]  DEFAULT ((1)),
 CONSTRAINT [PK_Sucursal] PRIMARY KEY CLUSTERED 
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [seguridad].[Usuario]    Script Date: 16/08/2014 08:49:41 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [seguridad].[Usuario](
	[IdUsuario] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Usuario_IdUsuario]  DEFAULT (newid()),
	[IdSucursal] [uniqueidentifier] NOT NULL,
	[IdRol] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL CONSTRAINT [DF_Usuario_Nombre]  DEFAULT (''),
	[Sexo] [nvarchar](1) NOT NULL,
	[Login] [varchar](20) NOT NULL CONSTRAINT [DF_Usuario_Login]  DEFAULT (''),
	[Pass] [nvarchar](512) NOT NULL CONSTRAINT [DF_Usuario_Pass]  DEFAULT (''),
	[Cargo] [nvarchar](100) NOT NULL CONSTRAINT [DF_Usuario_Cargo]  DEFAULT (''),
	[Codigo] [nvarchar](20) NOT NULL CONSTRAINT [DF_Usuario_Codigo]  DEFAULT (''),
	[FechaRegistro] [datetime] NULL CONSTRAINT [DF_Usuario_FechaRegistro]  DEFAULT (getdate()),
	[EsActivo] [bit] NOT NULL CONSTRAINT [DF_Usuario_EsActivo]  DEFAULT ((1)),
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [Catalogo].[MatrizCalificacion] ([IdMatrizCalificacion], [Nombre], [ValorMin], [ValorMax], [Impacto], [EsActivo]) VALUES (N'2d34bfb3-ee9c-4778-848f-2aaa30c1a18c', N'Nombre personalizado 1', CAST(0.20 AS Decimal(10, 2)), CAST(0.60 AS Decimal(10, 2)), 1, 1)
INSERT [Catalogo].[MatrizCalificacion] ([IdMatrizCalificacion], [Nombre], [ValorMin], [ValorMax], [Impacto], [EsActivo]) VALUES (N'd730823d-d907-49b3-b75f-3fb4026a3297', N'Nombre personalizado 2', CAST(0.10 AS Decimal(10, 2)), CAST(0.20 AS Decimal(10, 2)), 1, 1)
INSERT [seguridad].[Ciudad] ([IdCiudad], [IdPais], [Nombre], [EsActivo]) VALUES (N'65dc9c5a-7cc2-42b4-b915-23b56ff19412', N'af62e549-7291-4456-9840-a21f4bc4449e', N'León', 1)
INSERT [seguridad].[Ciudad] ([IdCiudad], [IdPais], [Nombre], [EsActivo]) VALUES (N'58c1a314-d5b3-4c67-a102-328844fe401b', N'e62f5597-8b83-4e64-aa32-fad878c5813d', N'Puntarenas', 1)
INSERT [seguridad].[Ciudad] ([IdCiudad], [IdPais], [Nombre], [EsActivo]) VALUES (N'8645ec42-bb90-4a3d-811b-a1b8436d6b75', N'af62e549-7291-4456-9840-a21f4bc4449e', N'Granada', 1)
INSERT [seguridad].[ItemMenu] ([IdItemMenu], [IdItemMenuPadre], [Ruta], [Texto], [Descripcion], [Visible], [FechaRegistro], [EsActivo]) VALUES (N'2085d909-f33d-437c-bd79-2fa0bc35142e', N'8e9a4dcc-6a9a-4e61-8d6f-8d7b81372d86', N'/Catalogos/Clientes/ClienteNuevo.aspx', N'Cliente Nuevo', N'Registro de nuevo cliente', 1, CAST(N'2014-08-11 03:03:16.860' AS DateTime), 1)
INSERT [seguridad].[ItemMenu] ([IdItemMenu], [IdItemMenuPadre], [Ruta], [Texto], [Descripcion], [Visible], [FechaRegistro], [EsActivo]) VALUES (N'37eb62ff-8264-48e6-988d-4170e311b08f', NULL, N'', N'Catálogos', N'Catálogos de datos necesarios para el sistema', 1, CAST(N'2014-08-10 14:18:11.847' AS DateTime), 1)
INSERT [seguridad].[ItemMenu] ([IdItemMenu], [IdItemMenuPadre], [Ruta], [Texto], [Descripcion], [Visible], [FechaRegistro], [EsActivo]) VALUES (N'8e9a4dcc-6a9a-4e61-8d6f-8d7b81372d86', N'37eb62ff-8264-48e6-988d-4170e311b08f', N'~/Catalogos/MatrizCalificaciones.aspx', N'Matriz de Calificaciones', N'Catálogo de Matriz de Calificaciones', 1, CAST(N'2014-08-11 02:31:30.823' AS DateTime), 1)
INSERT [seguridad].[ItemRol] ([IdItemRol], [IdItemMenu], [IdRol], [FechaRegistro], [EsActivo]) VALUES (N'4b2074ea-3a04-4c6c-b0bf-0314b9b810c5', N'58223129-158f-488c-b9dc-ef85a8ad1fa1', N'cd7429ed-2acb-4c12-9dee-9cb0bbb0de2d', CAST(N'2014-08-13 01:34:56.950' AS DateTime), 1)
INSERT [seguridad].[ItemRol] ([IdItemRol], [IdItemMenu], [IdRol], [FechaRegistro], [EsActivo]) VALUES (N'a3e8fb5d-d201-43da-b334-21467477b611', N'8e9a4dcc-6a9a-4e61-8d6f-8d7b81372d86', N'6b573de9-c72a-4048-b479-c63f6d75ec07', CAST(N'2014-08-11 02:41:07.503' AS DateTime), 0)
INSERT [seguridad].[ItemRol] ([IdItemRol], [IdItemMenu], [IdRol], [FechaRegistro], [EsActivo]) VALUES (N'd8e5f860-f799-40fd-b5db-2434bf9863d5', N'8e9a4dcc-6a9a-4e61-8d6f-8d7b81372d86', N'cd7429ed-2acb-4c12-9dee-9cb0bbb0de2d', CAST(N'2014-08-12 23:12:12.577' AS DateTime), 0)
INSERT [seguridad].[Pais] ([IdPais], [Nombre], [Nacionalidad], [EsActivo]) VALUES (N'af62e549-7291-4456-9840-a21f4bc4449e', N'Nicaragua', N'Nicaragüense', 1)
INSERT [seguridad].[Pais] ([IdPais], [Nombre], [Nacionalidad], [EsActivo]) VALUES (N'e62f5597-8b83-4e64-aa32-fad878c5813d', N'Costa Rica', N'Costarricense', 1)
INSERT [seguridad].[Pais] ([IdPais], [Nombre], [Nacionalidad], [EsActivo]) VALUES (N'cd20ac9a-4ef3-490a-9c76-fb2a7a85f819', N'Estados Unidos', N'Americano', 0)
INSERT [seguridad].[Rol] ([IdRol], [Nombre], [FechaRegistro], [EsActivo]) VALUES (N'6301c811-b6b9-4685-9b8f-6edfc0a581e0', N'Usuario', CAST(N'2014-07-27 01:33:20.507' AS DateTime), 0)
INSERT [seguridad].[Rol] ([IdRol], [Nombre], [FechaRegistro], [EsActivo]) VALUES (N'cd7429ed-2acb-4c12-9dee-9cb0bbb0de2d', N'Contabilidad', CAST(N'2014-07-27 01:34:38.750' AS DateTime), 1)
INSERT [seguridad].[Rol] ([IdRol], [Nombre], [FechaRegistro], [EsActivo]) VALUES (N'75ecc3ee-ba8c-4ee1-b1fc-b8da83b4d0dc', N'Riesgos', CAST(N'2014-07-27 02:04:45.480' AS DateTime), 0)
INSERT [seguridad].[Sucursal] ([IdSucursal], [IdCiudad], [Nombre], [Codigo], [Direccion], [EsActivo]) VALUES (N'140ca5b0-0293-4c71-9d36-3c66a8ebe4e6', N'1001eb5d-68bc-4d21-95ea-f9ce38ee9463', N'Central', N'', N'De donde fue X, 200m norte', 1)
INSERT [seguridad].[Sucursal] ([IdSucursal], [IdCiudad], [Nombre], [Codigo], [Direccion], [EsActivo]) VALUES (N'82f9ddf9-f6d8-40b8-8534-9d4cda092675', N'1001eb5d-68bc-4d21-95ea-f9ce38ee9463', N'Masaya', N'', N'Por ahí', 1)
INSERT [seguridad].[Usuario] ([IdUsuario], [IdSucursal], [IdRol], [Nombre], [Sexo], [Login], [Pass], [Cargo], [Codigo], [FechaRegistro], [EsActivo]) VALUES (N'666b0fe6-4104-4fa8-9e19-0f917cf8b4bd', N'140ca5b0-0293-4c71-9d36-3c66a8ebe4e6', N'cd7429ed-2acb-4c12-9dee-9cb0bbb0de2d', N'Abraham Molina', N'M', N'amolina', N'123', N'Prix', N'02', CAST(N'2014-08-13 01:33:18.787' AS DateTime), 1)
INSERT [seguridad].[Usuario] ([IdUsuario], [IdSucursal], [IdRol], [Nombre], [Sexo], [Login], [Pass], [Cargo], [Codigo], [FechaRegistro], [EsActivo]) VALUES (N'344bb27c-d0cf-4f4b-af0b-411b6056a31f', N'82f9ddf9-f6d8-40b8-8534-9d4cda092675', N'6b573de9-c72a-4048-b479-c63f6d75ec07', N'Fernando M. Gallegos Gutiérrez', N'M', N'galher', N'123', N'Administrador', N'01', CAST(N'2014-08-02 01:50:52.380' AS DateTime), 1)
ALTER TABLE [Auditoria].[Auditoria] ADD  CONSTRAINT [DF_Auditoria_IdAuditoria]  DEFAULT (newid()) FOR [IdAuditoria]
GO
ALTER TABLE [Auditoria].[Auditoria] ADD  CONSTRAINT [DF_Auditoria_FechaAfectacion]  DEFAULT (getdate()) FOR [FechaAfectacion]
GO
ALTER TABLE [Auditoria].[Auditoria] ADD  CONSTRAINT [DF_Auditoria_IdTipo]  DEFAULT ((0)) FOR [IdTipo]
GO
ALTER TABLE [Auditoria].[Auditoria] ADD  CONSTRAINT [DF_Auditoria_IdTabla]  DEFAULT ((0)) FOR [IdTabla]
GO
ALTER TABLE [Auditoria].[Auditoria] ADD  CONSTRAINT [DF_Auditoria_Comentario]  DEFAULT ('') FOR [Comentario]
GO
ALTER TABLE [Auditoria].[Auditoria] ADD  CONSTRAINT [DF_Auditoria_Usuario]  DEFAULT (N'sis') FOR [Usuario]
GO
ALTER TABLE [Catalogo].[Categoria] ADD  CONSTRAINT [DF_Categoria_IdCategoria]  DEFAULT (newid()) FOR [IdCategoria]
GO
ALTER TABLE [Catalogo].[Categoria] ADD  CONSTRAINT [DF__Categoria__EsAct__0C85DE4D]  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [Catalogo].[Clasificacion] ADD  CONSTRAINT [DF_Clasificacion_IdClasificacion]  DEFAULT (newid()) FOR [IdClasificacion]
GO
ALTER TABLE [Catalogo].[Clasificacion] ADD  CONSTRAINT [DF__Clasifica__EsAct__0F624AF8]  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [Catalogo].[Factor] ADD  CONSTRAINT [DF_Factor_IdFactor]  DEFAULT (newid()) FOR [IdFactor]
GO
ALTER TABLE [Catalogo].[Factor] ADD  CONSTRAINT [DF__Factor__EsActivo__123EB7A3]  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [Catalogo].[Metodologia] ADD  CONSTRAINT [DF_Metodologia_IdMetodologia]  DEFAULT (newid()) FOR [IdMetodologia]
GO
ALTER TABLE [Catalogo].[Categoria]  WITH CHECK ADD  CONSTRAINT [FK_Categoria_Factor] FOREIGN KEY([IdFactor])
REFERENCES [Catalogo].[Factor] ([IdFactor])
GO
ALTER TABLE [Catalogo].[Categoria] CHECK CONSTRAINT [FK_Categoria_Factor]
GO
ALTER TABLE [Catalogo].[Clasificacion]  WITH CHECK ADD  CONSTRAINT [FK_Clasificacion_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [Catalogo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [Catalogo].[Clasificacion] CHECK CONSTRAINT [FK_Clasificacion_Categoria]
GO
ALTER TABLE [seguridad].[Ciudad]  WITH CHECK ADD  CONSTRAINT [FK_Ciudad_Pais] FOREIGN KEY([IdPais])
REFERENCES [seguridad].[Pais] ([IdPais])
GO
ALTER TABLE [seguridad].[Ciudad] CHECK CONSTRAINT [FK_Ciudad_Pais]
GO
ALTER TABLE [seguridad].[ItemMenu]  WITH CHECK ADD  CONSTRAINT [FK_ItemMenu_ItemMenu] FOREIGN KEY([IdItemMenuPadre])
REFERENCES [seguridad].[ItemMenu] ([IdItemMenu])
GO
ALTER TABLE [seguridad].[ItemMenu] CHECK CONSTRAINT [FK_ItemMenu_ItemMenu]
GO
ALTER TABLE [seguridad].[ItemRol]  WITH CHECK ADD  CONSTRAINT [FK_ItemRol_ItemMenu] FOREIGN KEY([IdItemMenu])
REFERENCES [seguridad].[ItemMenu] ([IdItemMenu])
GO
ALTER TABLE [seguridad].[ItemRol] CHECK CONSTRAINT [FK_ItemRol_ItemMenu]
GO
ALTER TABLE [seguridad].[ItemRol]  WITH CHECK ADD  CONSTRAINT [FK_ItemRol_Rol] FOREIGN KEY([IdRol])
REFERENCES [seguridad].[Rol] ([IdRol])
GO
ALTER TABLE [seguridad].[ItemRol] CHECK CONSTRAINT [FK_ItemRol_Rol]
GO
ALTER TABLE [seguridad].[Sucursal]  WITH CHECK ADD  CONSTRAINT [FK_Sucursal_Ciudad] FOREIGN KEY([IdCiudad])
REFERENCES [seguridad].[Ciudad] ([IdCiudad])
GO
ALTER TABLE [seguridad].[Sucursal] CHECK CONSTRAINT [FK_Sucursal_Ciudad]
GO
ALTER TABLE [seguridad].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [seguridad].[Rol] ([IdRol])
GO
ALTER TABLE [seguridad].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [seguridad].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Sucursal] FOREIGN KEY([IdSucursal])
REFERENCES [seguridad].[Sucursal] ([IdSucursal])
GO
ALTER TABLE [seguridad].[Usuario] CHECK CONSTRAINT [FK_Usuario_Sucursal]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único de la tabla' , @level0type=N'SCHEMA',@level0name=N'Auditoria', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'IdAuditoria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del registro afectado' , @level0type=N'SCHEMA',@level0name=N'Auditoria', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'IdAfectado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador que sirve de referencia, es decir, un registro de auditoría refiere a una inserción, modificación o eliminación (lógica), pero IdReferencia se puede usar a conveniencia para poner el Id de un registro de una tabla principal, por ejemplo, se elimina una evaluación, se registra la acción como auditoría pero se puede guardar como referencia el Id del Cliente al que refiere.' , @level0type=N'SCHEMA',@level0name=N'Auditoria', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'IdReferencia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en que se realizó la afectación (inserción, modificación, eliminación, etc).' , @level0type=N'SCHEMA',@level0name=N'Auditoria', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'FechaAfectacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valor numérico que indica el tipo de afectación, Inserción=1; Modificación=2; Eliminación (lógica)=3; Ninguno=0;' , @level0type=N'SCHEMA',@level0name=N'Auditoria', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'IdTipo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valor numérico con que se identifica a una tabla en la base de datos, para ello revise los adjuntos de la documentación del sistema para ver los valores que corresponden a cada tabla' , @level0type=N'SCHEMA',@level0name=N'Auditoria', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'IdTabla'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Comentario del analista, se puede usar para justificar una eliminación o modificación si la programación lo permite o las reglas de negocio lo establecen' , @level0type=N'SCHEMA',@level0name=N'Auditoria', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'Comentario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Login del usuario que realizó la afectación en el sistema' , @level0type=N'SCHEMA',@level0name=N'Auditoria', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'Usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del equipo en que se realizó la afectación' , @level0type=N'SCHEMA',@level0name=N'Auditoria', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'UsuarioPC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ip del equipo en que se realizó la afectación' , @level0type=N'SCHEMA',@level0name=N'Auditoria', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'UsuarioIP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'Auditoria', @level1type=N'TABLE',@level1name=N'Auditoria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valor que indica la calificacion dada a un cliente en donde 1 = Bajo, 2= Medio, 3 = Alto' , @level0type=N'SCHEMA',@level0name=N'Catalogo', @level1type=N'TABLE',@level1name=N'MatrizCalificacion', @level2type=N'COLUMN',@level2name=N'Impacto'
GO
USE [master]
GO
