<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/bootstrap-chosen.css" />
    <include path="~/Content/DataTables-1.10.4/css/jquery.dataTables.css" />
    <include path="~/Content/DataTables-1.10.4/css/dataTables.bootstrap.css" />
  </styleBundle>
</bundles>