<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsodenicSR.Import.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="SisSegDB" connectionString="metadata=res://*/dbSisSeg.csdl|res://*/dbSisSeg.ssdl|res://*/dbSisSeg.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.9;initial catalog=ASODENICDB;persist security info=True;user id=sa;password=asodenic123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <AsodenicSR.Import.Properties.Settings>
      <setting name="ItemMenuNombre" serializeAs="String">
        <value>Import</value>
      </setting>
    </AsodenicSR.Import.Properties.Settings>
  </applicationSettings>
</configuration>